In [3]:
#!pip install tensorflow==2.0

Collecting tensorflow==2.0
  Downloading tensorflow-2.0.0-cp37-cp37m-manylinux2010_x86_64.whl (86.3 MB)
     |████████████████████████████████| 86.3 MB 3.6 MB/s eta 0:00:01
Requirement already satisfied: astor>=0.6.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (0.8.1)
Collecting google-pasta>=0.1.6
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 7.5 MB/s  eta 0:00:01
Collecting gast==0.2.2
  Downloading gast-0.2.2.tar.gz (10 kB)
Requirement already satisfied: termcolor>=1.1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.8 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.0.8)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 5.2 MB/s  eta 0:00:01
Requirement already satisfied: keras-preprocessing>=1.0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.1.0)
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Downloading tensorflow_estimator-2.0.1-py2.py3-none-any.whl (449 kB)
     |████████████████████████████████| 449 kB 38.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.10.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.15.0)
Collecting tensorboard<2.1.0,>=2.0.0
  Downloading tensorboard-2.0.2-py3-none-any.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 66.5 MB/s eta 0:00:01
Collecting wrapt>=1.11.1
  Downloading wrapt-1.12.1.tar.gz (27 kB)
Requirement already satisfied: absl-py>=0.7.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (0.11.0)
Requirement already satisfied: grpcio>=1.8.6 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.31.0)
Requirement already satisfied: wheel>=0.26 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (0.34.2)
Requirement already satisfied: protobuf>=3.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (3.8.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorflow==2.0) (1.19.4)
Requirement already satisfied: h5py in /srv/conda/envs/notebook/lib/python3.7/site-packages (from keras-applications>=1.0.8->tensorflow==2.0) (3.1.0)
Requirement already satisfied: werkzeug>=0.11.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.0.1)
Collecting google-auth<2,>=1.6.3
  Downloading google_auth-1.24.0-py2.py3-none-any.whl (114 kB)
     |████████████████████████████████| 114 kB 63.0 MB/s eta 0:00:01
Requirement already satisfied: setuptools>=41.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (49.2.0.post20200712)
Requirement already satisfied: markdown>=2.6.8 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.3.3)
Requirement already satisfied: requests<3,>=2.21.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.24.0)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.2-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: cached-property; python_version < "3.8" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from h5py->keras-applications>=1.0.8->tensorflow==2.0) (1.5.2)
Collecting cachetools<5.0,>=2.0.0
  Downloading cachetools-4.2.0-py3-none-any.whl (12 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.7-py3-none-any.whl (34 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 67.0 MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2020.12.5)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 8.4 MB/s  eta 0:00:01
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.0)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.1)
Building wheels for collected packages: gast, wrapt
  Building wheel for gast (setup.py) ... done
  Created wheel for gast: filename=gast-0.2.2-py3-none-any.whl size=7539 sha256=236d8e59ef6993bf2409c5b8498488276c1ab465fcc09de075c4fb12bcb19e28
  Stored in directory: /home/jovyan/.cache/pip/wheels/21/7f/02/420f32a803f7d0967b48dd823da3f558c5166991bfd204eef3
  Building wheel for wrapt (setup.py) ... done
  Created wheel for wrapt: filename=wrapt-1.12.1-cp37-cp37m-linux_x86_64.whl size=36040 sha256=44c1dd110b5c9243fe4f5e8b408f87d901bfc76367dc49b55f6a9ffc7adcf4ad
  Stored in directory: /home/jovyan/.cache/pip/wheels/62/76/4c/aa25851149f3f6d9785f6c869387ad82b3fd37582fa8147ac6
Successfully built gast wrapt
Installing collected packages: google-pasta, gast, opt-einsum, tensorflow-estimator, cachetools, pyasn1, rsa, pyasn1-modules, google-auth, requests-oauthlib, google-auth-oauthlib, tensorboard, wrapt, tensorflow
  Attempting uninstall: gast
    Found existing installation: gast 0.4.0
    Uninstalling gast-0.4.0:
      Successfully uninstalled gast-0.4.0
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 1.13.0
    Uninstalling tensorflow-estimator-1.13.0:
      Successfully uninstalled tensorflow-estimator-1.13.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 1.13.1
    Uninstalling tensorboard-1.13.1:
      Successfully uninstalled tensorboard-1.13.1
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 1.13.1
    Uninstalling tensorflow-1.13.1:
      Successfully uninstalled tensorflow-1.13.1
Successfully installed cachetools-4.2.0 gast-0.2.2 google-auth-1.24.0 google-auth-oauthlib-0.4.2 google-pasta-0.2.0 opt-einsum-3.3.0 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.7 tensorboard-2.0.2 tensorflow-2.0.0 tensorflow-estimator-2.0.1 wrapt-1.12.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
# Import datasets and libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import Accuracy

from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report,accuracy_score,roc_curve,confusion_matrix

In [11]:
# Load the training dataset
instagram_df_train = pd.read_csv('insta_train.csv')
instagram_df_train

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.00,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.00,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.00,0,0,0,1,13,159,98,0
3,1,0.00,1,0.00,0,82,0,0,679,414,651,0
4,1,0.00,2,0.00,0,0,0,1,6,151,126,0
5,1,0.00,4,0.00,0,81,1,0,344,669987,150,0
6,1,0.00,2,0.00,0,50,0,0,16,122,177,0
7,1,0.00,2,0.00,0,0,0,0,33,1078,76,0
8,1,0.00,0,0.00,0,71,0,0,72,1824,2713,0
9,1,0.00,2,0.00,0,40,1,0,213,12945,813,0
10,1,0.00,2,0.00,0,54,0,0,648,9884,1173,0
11,1,0.00,2,0.00,0,54,1,0,76,1188,365,0
12,1,0.00,2,0.00,0,0,1,0,298,945,583,0
13,1,0.00,2,0.00,0,103,1,0,117,12033,248,0
14,1,0.00,2,0.00,0,98,1,0,487,1962,2701,0
15,1,0.00,3,0.00,0,46,0,0,254,50374,900,0
16,1,0.00,3,0.00,0,0,0,0,59,7007,289,0
17,1,0.29,3,0.00,0,48,0,0,1570,1128,694,0
18,1,0.00,2,0.00,0,63,1,0,378,34670,1878,0
19,1,0.00,2,0.00,0,106,1,0,526,2338,776,0
20,1,0.00,2,0.00,0,40,0,0,228,3516,999,0
21,1,0.00,1,0.00,0,35,1,1,35,1809,416,0
22,1,0.00,2,0.00,0,30,0,0,281,427,470,0
23,1,0.00,1,0.00,0,27,0,0,285,759,956,0
24,1,0.00,0,0.00,0,0,0,0,148,15338538,61,0
25,1,0.00,1,0.00,0,109,1,1,57,109,179,0
26,1,0.00,6,0.00,0,0,0,1,17,536,665,0
27,1,0.00,2,0.00,0,132,1,0,511,121354,176,0
28,1,0.00,2,0.00,0,126,1,0,230,2284,130,0
29,1,0.00,2,0.00,0,122,0,1,15,186,174,0
...,...,...,...,...,...,...,...,...,...,...,...,...
546,0,0.40,1,0.00,0,0,0,0,2,97,408,1
547,0,0.57,1,0.57,1,0,0,0,2,34,112,1
548,0,0.00,1,0.00,1,0,0,0,0,2346,7272,1
549,0,0.25,1,0.00,0,0,0,0,0,49,95,1
550,1,0.19,0,0.00,0,0,0,1,2,2,55,1
551,0,0.46,1,0.46,1,0,0,0,2,40,19,1
552,0,0.46,1,0.00,0,0,0,1,0,332,1333,1
553,0,0.73,1,0.00,0,0,0,0,0,14,542,1
554,1,0.60,1,0.50,0,0,0,0,12,65,162,1
555,1,0.46,1,0.50,0,0,0,0,1,20,52,1
556,0,0.31,1,0.31,1,0,0,0,0,26,27,1
557,1,0.43,1,0.43,0,0,0,0,0,72,434,1
558,1,0.00,1,0.00,0,0,0,0,1,55,2,1
559,1,0.50,1,0.40,0,33,0,0,12,77,108,1
560,1,0.00,4,0.25,0,0,0,1,59,31,215,1
561,0,0.86,2,0.18,0,0,0,0,0,57,130,1
562,0,0.62,1,0.00,0,0,0,1,0,58,347,1
563,1,0.33,2,0.00,0,0,0,0,23,47,139,1
564,1,0.16,1,0.12,0,43,0,0,3,31,37,1
565,1,0.92,1,1.00,0,0,0,0,11,96,242,1
566,1,0.27,1,0.00,0,19,0,0,8,126,860,1
567,1,0.25,1,0.00,0,0,0,1,102,39,229,1
568,1,0.43,1,0.00,0,5,0,0,6,66,161,1
569,1,0.31,3,0.00,0,0,0,0,25,87,698,1
570,1,0.20,1,0.00,0,28,0,0,0,15,64,1
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [12]:
# Load the testing data
instagram_df_test = pd.read_csv('insta_test.csv')
instagram_df_test

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.33,1,0.33,1,30,0,1,35,488,604,0
1,1,0.00,5,0.00,0,64,0,1,3,35,6,0
2,1,0.00,2,0.00,0,82,0,1,319,328,668,0
3,1,0.00,1,0.00,0,143,0,1,273,14890,7369,0
4,1,0.50,1,0.00,0,76,0,1,6,225,356,0
5,1,0.00,1,0.00,0,0,0,1,6,362,424,0
6,1,0.00,1,0.00,0,132,0,1,9,213,254,0
7,1,0.00,2,0.00,0,0,0,1,19,552,521,0
8,1,0.00,2,0.00,0,96,0,1,17,122,143,0
9,1,0.00,1,0.00,0,78,0,1,9,834,358,0
10,1,0.00,1,0.00,0,0,0,1,53,229,492,0
11,1,0.14,1,0.00,0,78,1,1,97,1913,436,0
12,1,0.14,2,0.00,0,61,0,1,17,200,437,0
13,1,0.33,2,0.00,0,45,0,1,8,130,622,0
14,1,0.10,2,0.00,0,43,0,0,60,192,141,0
15,1,0.00,2,0.00,0,56,0,1,51,498,337,0
16,1,0.33,2,0.00,0,86,0,1,25,96,499,0
17,1,0.00,1,0.00,0,97,0,1,188,202,605,0
18,1,0.00,3,0.00,0,46,0,1,590,175,199,0
19,1,0.00,2,0.00,0,39,0,1,251,223,694,0
20,1,0.50,1,0.00,0,0,0,1,0,189,276,0
21,1,0.00,0,0.00,0,28,0,1,58,486,862,0
22,1,0.22,2,0.00,0,63,0,1,46,464,367,0
23,1,0.00,2,0.00,0,24,0,1,19,150,157,0
24,1,0.10,1,0.00,0,4,0,1,250,2983,545,0
25,1,0.00,1,0.00,0,27,0,1,28,116,138,0
26,1,0.00,1,0.00,0,137,1,0,1065,155537,1395,0
27,1,0.00,1,0.00,0,69,0,1,209,248,490,0
28,1,0.33,1,0.00,0,0,0,1,5,348,347,0
29,1,0.00,2,0.00,0,147,1,0,1879,4021842,5514,0
...,...,...,...,...,...,...,...,...,...,...,...,...
90,1,0.00,2,0.00,0,0,0,0,1,62,126,1
91,1,0.50,1,0.00,0,0,0,0,0,119,350,1
92,0,0.33,1,0.00,0,0,0,0,0,2997,764,1
93,1,0.00,0,0.00,0,0,0,0,15,772,3239,1
94,1,0.00,1,0.00,0,0,0,0,4,129,920,1
95,1,0.38,2,0.25,0,0,0,0,70,94,105,1
96,0,0.00,1,0.00,0,0,0,0,2,37,58,1
97,1,0.33,1,0.00,0,0,0,0,81,75,55,1
98,0,0.31,1,0.33,0,0,0,0,0,42,175,1
99,1,0.67,1,0.50,0,0,0,0,5,145,202,1
100,1,0.38,1,0.00,0,0,0,0,21,128,636,1
101,1,0.38,1,0.00,0,0,0,0,3,88,72,1
102,0,0.00,0,0.00,0,0,0,0,2,1987,7453,1
103,1,0.48,1,0.00,0,0,0,0,16,100,162,1
104,1,0.57,1,0.00,0,0,0,0,3,214,829,1
105,1,0.88,1,1.00,0,0,0,0,23,227,776,1
106,1,0.89,2,0.00,0,0,0,0,6,192,942,1
107,0,0.44,1,0.44,1,112,0,0,4,415,1445,1
108,0,0.00,1,0.00,0,0,0,0,0,926,4239,1
109,1,0.44,1,0.00,0,0,0,0,60,238,1381,1
110,1,0.00,1,0.00,0,0,0,0,1,193,669,1
111,1,0.00,1,0.25,0,0,0,0,0,49,235,1
112,0,0.44,1,0.00,0,0,0,0,0,13,7,1
113,1,0.45,1,0.40,0,0,0,0,2,74,270,1
114,1,0.33,1,0.00,0,0,0,0,8,88,76,1
115,1,0.29,1,0.00,0,0,0,0,13,114,811,1
116,1,0.40,1,0.00,0,0,0,0,4,150,164,1
117,1,0.00,2,0.00,0,0,0,0,3,833,3572,1
118,0,0.17,1,0.00,0,0,0,0,1,219,1695,1
119,1,0.44,1,0.00,0,0,0,0,3,39,68,1

In [14]:
# Print the first and last 5 rows in both the training and testing DataFrames
instagram_df_train.head(5)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0
3,1,0.00,1,0.0,0,82,0,0,679,414,651,0
4,1,0.00,2,0.0,0,0,0,1,6,151,126,0

In [15]:
instagram_df_train.tail(5)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [16]:
instagram_df_test.head(5)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.33,1,0.33,1,30,0,1,35,488,604,0
1,1,0.00,5,0.00,0,64,0,1,3,35,6,0
2,1,0.00,2,0.00,0,82,0,1,319,328,668,0
3,1,0.00,1,0.00,0,143,0,1,273,14890,7369,0
4,1,0.50,1,0.00,0,76,0,1,6,225,356,0

In [17]:
instagram_df_test.tail(5)

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
115,1,0.29,1,0.0,0,0,0,0,13,114,811,1
116,1,0.40,1,0.0,0,0,0,0,4,150,164,1
117,1,0.00,2,0.0,0,0,0,0,3,833,3572,1
118,0,0.17,1,0.0,0,0,0,0,1,219,1695,1
119,1,0.44,1,0.0,0,0,0,0,3,39,68,1